.App {
  background-color: #282c34;
  height: 100vh;
}

.main {
  display: flex;
  text-align: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 4rem);
  width: 100vw;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.createButton, .resetButton {
  margin: .5rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: .5rem;
  border: 0;
}
.resetButton {
  background-color: #3b88c3;
  color: #ffffff;
}
.createButton {
  color: #8a1111;
  background-color: #ed5555;
}

.counter {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  border: 0;
  border-radius: 50%;
  font-size: 4rem;

  background-color: var(--color, white);
  color: var(--text-color, black);
}
