.App {
  background-color: #282c34;
  min-height: 100vh;
}

.main {
  display: grid;
  text-align: center;
  grid-row: 
}

.header {
  display: flex;
  justify-content: space-between;
}

.createButton, .resetButton {
  margin: .5rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: .5rem;
  border: 0;
}
.resetButton {
  background-color: #3b88c3;
  color: #ffffff;
}
.createButton {
  color: #8a1111;
  background-color: #ed5555;
}

.counter {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  border: 0;
  border-radius: 50%;
  font-size: 4rem;

  background-color: var(--color, white);
  color: var(--text-color, black);
}
